<h3><%= @subscribe_uri %></h3>

<div id="output">
  <ul id="messages"></ul>
  <div id="dismiss"><%= button_to 'ok', jobs_path, :method => :get %></div>
</div>

<script type="text/javascript">
  $(function() { 
    $('#dismiss').hide();
  });
  
  subscribe('<%= @subscribe_uri %>', function(message, error, eot) {
    var klass = error ? 'failure' : 'success';
    if (eot) {
      klass += ' eot';
      $('#dismiss').show();
    }
    $('#messages').append('<li class="' + klass + '" >' + message + '</li>');
  });
</script>
