<h3><%= @subscribe_uri %></h3>

<div id="output">
  <ul id="messages"></ul>
  <%= button_to 'OK', jobs_path, :method => :get %></p>
</div>

<script type="text/javascript">
  $(function() { 
    $('#output input:submit').hide();
  });
  
  subscribe('<%= @subscribe_uri %>',
    'Thu, 1 Jan 1970 00:00:00 GMT', 
    '0', 
    function(message, error, eot) {
      var klass = error ? 'failure' : 'success';
      if (eot) {
        klass += ' eot';
        $('#output input:submit').show();
      }
      $('#messages').append('<li class="' + klass + '" >' + message + '</li>');
    }
  );
</script>
